:root {
  --logo-width: 10%; /* Default logo width, can be overridden in React component */
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #E1A95F; /* Adjust the color to match your design */
  align-items: center; /* This will vertically center your items in the header */
}

.logo-header img {
  width: var(--logo-width);
  height: auto; /* Keeps the aspect ratio intact */
}

.navigation {
  display: flex; /* Aligns the navigation buttons in a row */
}

.nav-button {
  background-color: #D68A59; /* A nice contrasting color, adjust as needed */
  color: white; /* Light color text for the buttons */
  border: none; /* Removes the border */
  padding: 10px 20px; /* Top/bottom padding of 10px, left/right padding of 20px */
  margin-left: 10px; /* Adds spacing between the buttons */
  cursor: pointer; /* Changes the cursor to indicate these are clickable */
  text-transform: uppercase; /* Makes the button text uppercase */
  font-weight: bold; /* Makes the button text bold */
  border-radius: 5px; /* Slightly rounded corners for the buttons */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.nav-button:hover {
  background-color: #C57B50; /* Slightly darker color on hover, adjust as needed */
}
