.transactions-dropdown {
  display: flex;
  flex-direction: column;
  position: relative; /* Positions dropdown relative to its positioned parent */
  margin-top: 20px;
  top: 50%; /* Below the button */
  left: 0;
  right: 0;
  z-index: 100; /* Above other content */
  background: #D68A59;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-height: 400px;
  overflow-y: auto;
}

.transaction-item,
.transaction-item-header {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Creates 6 columns of equal width */
  gap: 10px; /* Space between grid items */
}

.transaction-item {
  border-bottom: 1px solid #ccc; /* Separates rows */
  padding: 15px; /* Space inside each grid item */
}

.transaction-item-header {
  background-color: #c66829fd; /* Light grey for header background */
  text-align: center;
  font-weight: bold;
  padding: 15px; /* Ensure this matches .transaction-item padding for alignment */
  /* change font color to white */
  color: white;
}

.transaction-detail-label,
.transaction-detail-value {
  text-align: left; /* Aligns text to the left */
  padding: 5px 0; /* Pads top and bottom of each cell */
  color: white;
}

/* Ensure labels and values have the same horizontal padding */
.transaction-detail-label,
.transaction-detail-value {
  padding-left: 5px;
  padding-right: 5px;
}

/* Optional: Style to make the category stand out if it's important */
.transaction-category {
  font-weight: bold;
  color: #ffffff; /* Darker text for category */
}
