.app-navbar {
  padding: 0 8px;

  .app-navbar-icon {
    background-color: #ffffff !important;
  }

  .app-name {
    display: flex;
    padding: 0 16px;
    margin-top: 8px;

    h1 {
      color: #0063a3;
      font-weight: 600;
      padding-left: 8px;
    }
  }

}
